*.psd filter=lfs diff=lfs merge=lfs -text
*.zip !text !filter !merge !diff
/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.110.0/windows_amd64/terraform-provider-azurerm_v3.110.0_x5.exe filter=lfs diff=lfs merge=lfs -text
